<nav class="nav">
  <a href="/"{% if page.url == '/' %} class="active"{% endif %}>home</a>
  <a href="/blog"{% if page.url == '/blog' or page.layout == 'post' %} class="active"{% endif %}>blog</a>
  <a href="/research"{% if page.url == '/research' %} class="active"{% endif %}>research</a>
  <a href="/cv"{% if page.url == '/cv' %} class="active"{% endif %}>cv</a>
  <a href="/personal"{% if page.url == '/personal' %} class="active"{% endif %}>personal</a>
  <a href="/travel"{% if page.url == '/travel' %} class="active"{% endif %}>travel</a>
</nav>
