<section class="spotify-widget">
  {% if site.data.spotify.now_playing %}
  <div class="now-playing">
    <h3>
      {% if site.data.spotify.now_playing.is_playing %}
        <span class="playing-indicator"></span> now playing
      {% else %}
        recently played
      {% endif %}
    </h3>
    {% assign embed_url = site.data.spotify.now_playing.url | replace: "open.spotify.com/", "open.spotify.com/embed/" %}
    <iframe class="spotify-embed" src="{{ embed_url }}?utm_source=generator&theme=0" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  {% endif %}

  {% if site.data.spotify.top_tracks.size > 0 %}
  <div class="top-tracks">
    <h3>top tracks</h3>
    <ol class="track-list">
      {% for track in site.data.spotify.top_tracks %}
      <li>
        <a href="{{ track.url }}" target="_blank" rel="noopener">
          <span class="track-name">{{ track.track }}</span>
          <span class="artist-name">{{ track.artist }}</span>
        </a>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
</section>
